<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group mb-3">
    <div>
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title , class:"form-control"%>
    </div>

    <div>
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class:"form-control" %>
    </div>

    <div>
      <%= form.label :synopsis, class: "form-label" %>
      <%= form.text_field :synopsis, class:"form-control" %>
    </div>

    <div>
      <%= form.label :director, class: "form-label" %>
      <%= form.text_field :director, class:"form-control" %>
    </div>

    <div>
      <%= form.label :year, class: "form-label" %>
      <%= form.number_field :year, class:"form-control" %>
    </div>
  </div>
  <div>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
