<div id="<%= dom_id documentary %>">
  <p>
    <strong>Title:</strong>
    <%= documentary.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= documentary.name %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= documentary.synopsis %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= documentary.director %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= documentary.year %>
  </p>

</div>
